<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link href="../../css/styleEditar.css" rel="stylesheet">
        <title>Productos en existencia</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <section class="agregar-inventario">
                
                    <form class="contenedor-formulario">
                        <h2>Formulario para nuevos productos</h2>
                        <label for="nombre-producto">Nombre del producto</label>
                        <input class="item" type="text" name="nombre-producto" placeholder="nuevo producto">
                        <label for="descripcion-producto">Descripcion del producto</label>
                        <textarea class="item" name="descripcion-producto" rows="3" cols="50">Escribe la descripción aquí.
                            </textarea>
                        <label for="precio-producto">Precio del producto</label>
                        <input class="item" type="text" name="precio-producto"
                            placeholder="$$$">
                        <label for="img-producto"> Imagen para el producto</label>
                        <input class="item" type="file" name="img-producto"
                            placeholder="Selecciona imagen del producto">
                        <input class="item" type="submit" value="Submit">
                        <button class="item" type="reset" value="reset">Vaciar formulario</button>
                    </form>
                
            </section>



            <section class="articulos-existentes">
                <% for (let value in productos){%>
                    <article class="inventario">
                        <h2 class="producto-nombre item">
                            <%=productos[value].item%>
                        </h2>
                        <img class="item-img" src="img/<%=productos[value].image%>" alt="Platillo">
                        <p class="item-descripcion">
                            Descripción:
                            <%=productos[value].description%>
                            Precio:<%= productos[value].price %>
                        </p>
                        <div class="item-botones"> 
                            <button type="button"
                            onClick="location.href='./editarProducto/<%=productos[value].id%>'">
                            Editar Producto
                        </button>
                        <button type="button">Eliminar</button>
                        </div>
                        
                    </article>

                    <% } %>

            </section>
        </main>

        <%- include('../partials/footer') %>
</body>
<script src="/js/home.js"></script>

</html>