<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link href="../../css/styleEditar.css" rel="stylesheet">
        <title>Productos en existencia</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <section class="agregar-inventario">
                
                    <form class="contenedor-formulario">
                        <h2>Formulario para nuevos productos</h2>
                        <label for="nombre-producto">Nombre del producto</label>
                        <input class="item" type="text" name="nombre-producto" placeholder="nuevo producto">
                        <label for="descripcion-producto">Descripcion del producto</label>
                        <textarea class="item" name="descripcion-producto" rows="3" cols="50">Escribe la descripción aquí.
                            </textarea>
                        <label for="precio-producto">Precio del producto</label>
                        <input class="item" type="text" name="precio-producto"
                            placeholder="$$$">
                        <label for="img-producto"> Imagen para el producto</label>
                        <input class="item" type="file" name="img-producto"
                            placeholder="Selecciona imagen del producto">
                        <input class="item" type="submit" value="Submit">
                        <button class="item" type="reset" value="reset">Vaciar formulario</button>
                    </form>
                
            </section>



            <section class="articulos-existentes">
                <% for (let value in productos){%>
                    <article class="inventario">
                        <h2 class="producto-nombre item">
                            <%=productos[value].titulo%>
                        </h2>
                        <img class="item-img" src="img/<%=productos[value].img%>" alt="Platillo">
                        <p class="item-descripcion">
                            Descripción:
                            <%=productos[value].descripcionCorta%>
                            Precio:<%= productos[value].precio %>
                        </p>
                        <div class="item-botones"> 
                            <button type="button"
                            onClick="location.href='./editarProducto/<%=productos[value].id%>'">
                            Editar Producto
                        </button>
                        <button type="button">Eliminar</button>
                        </div>
                        
                    </article>

                    <% } %>

            </section>

            <section class="menu" id="menu">

                <h1 class="heading"> Articulos Existentes</h1>
            
                <div class="box-container">
                    <% for(let platillo of productos){ %>
                    <div class="box">
                        <img src="img/<%= platillo.image %>" alt="">
                        <h3>Nombre: <%= platillo.item%></h3>
                        <h4>Tipo: <%= platillo.type%></h4>
                        <h4>Estilo de Platillo: <%= platillo.dish%></h4>
                        <h4>Descuento: <%= platillo.discount%></h4>
                        <h4>Compras: <%= platillo.boughts%></h4>
                        <div class="price">Precio:<%= platillo.price%>
                            <% if(platillo.discount != ''){ %>
                                <span><%= platillo.discount %></span>
                            <% }%>
                        </div> 
                        <button class="btn" type="button"
                            onClick="location.href='./editarProducto/<%=platillo.id%>'">
                            Editar Producto
                        </button>
                        <button class="btn" type="button">Eliminar</button>
                    
                    </div> 
                    <% } %> 
                </div>
            
            </section>
        </main>

        <%- include('../partials/footer') %>
</body>
<script src="/js/home.js"></script>

</html>