<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link href="/css/styleEdicion.css" rel="stylesheet" />
    <title>Producto: <%=productToEdit.item %></title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <section class="contenedor-form">
        <form
          class="form-articulo"
          action="/producto/editarProducto/<%= productToEdit.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="item">Nombre del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
            (e.param == 'item') { %>
            <p style="color: #dd0000"><%= e.msg %></p>
            <% } %> <% }) %> <% } %>
          <input
            class="item"
            type="text"
            name="item"
            value="<%=productToEdit.item %>"
          />
          <label for="type">Tipo de pasta</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'type') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            class="item"
            type="text"
            name="type"
            value="<%=productToEdit.type %>"
          />
          <label for="price">Precio del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'price') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input type="number" name="price" value="<%=productToEdit.price %>" />
          <label for="description">Descripcion</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'description') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <textarea id="descripcion" name="description" rows="4" cols="50" style="text-align: center;">
<%= productToEdit.description %> 
                </textarea
          >
          <label for="image">Inserta la nueva imagen aquí</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'image') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input type="file" name="image" />
          <label for="score">Score del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'score') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input type="number" name="score" value="<%=productToEdit.score %>" />
          <label for="discount">Descuento del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'discount') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="number"
            name="discount"
            value="<%=productToEdit.discount %>"
          />
          <label for="boughts">Número comprado</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'boughts') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="number"
            name="boughts"
            value="<%=productToEdit.boughts%>"
          />
          <label for="dish">Estilo de platillo</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'dish') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input type="text" name="dish" value="<%=productToEdit.dish%>" />
          <label for="isTopPlate">Es platillo top?</label>
          <select class="item" name="isTopPlate" id="isTopPlate">
            <option value="" Elige>Elige</option>
            <% if(productToEdit.isTopPlate == 0) { %>
            <option value="1">Sí</option>
            <option selected value="0">No</option>
            <% } else { %>
            <option selected value="1">Sí</option>
            <option value="0">No</option>
            <% } %>
          </select>
          <button class="botonDeshacer" type="reset" value="reset">
            Deshacer cambios
          </button>
          <button class="botonCambiar" type="submit" value="submit">
            Guardar cambios
          </button>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>

    <!-- script zone-->
    <%- include('../partials/scripts') %>
    <!-- script zone-->
  </body>
</html>
