<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link href="../../css/styleEditar.css" rel="stylesheet" />
    <title>Productos en existencia</title>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main>
      
      <section class="agregar-inventario">
        <h2 class="heading">Formulario para nuevos productos</h2>
        <form
          action="/producto/editar"
          method="POST"
          class="contenedor-formulario"
          enctype="multipart/form-data">
          
          <label for="item">Nombre del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'item') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            class="item"
            type="text"
            name="item"
            id="item"
            placeholder="Nuevo producto"
            value="<%= locals.old && old.item ? old.item : '' %>"
            required
          ></input>

          <label for="type">Tipo de pasta</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'type') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input class="item" name="type" id="type" placeholder="Teclea tipo" value="<%= locals.old && old.type ? old.type: '' %>"></input>

          <label for="dish">Tipo de platillo</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'dish') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input class="item" name="dish" id="dish" placeholder="Teclea platillo" value="<%= locals.old && old.dish ? old.dish: '' %>"></input>

          <label for="description">Descripcion del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'description') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <textarea
            class="item"
            name="description"
            id="description"
            rows="3"
            cols="50"
            placeholder="Escribe la descripción aquí">
          <%= locals.old && old.description ? old.description: '' %>
          </textarea>
          
          <label for="score">Score</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'score') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            class="item"
            type="text"
            name="score"
            id="score"
            placeholder="1-5"
            value="<%= locals.old && old.score ? old.score: '' %>"
          ></input>

          <label for="discount">Descuento del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'discount') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input class="item" type="text" name="discount" placeholder="10" value="<%= locals.old && old.discount ? old.discount: '' %>" ></input>

          <label for="boughts">Número comprado</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'boughts') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input class="item" type="text" name="boughts" id="boughts" placeholder="50" value="<%= locals.old && old.boughts ? old.boughts: '' %>">
          </input>

          <label for="price">Precio del producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'price') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            class="item"
            type="text"
            name="price"
            id="price"
            placeholder="$$$"
            value="<%= locals.old && old.price ? old.price: '' %>">
          </input>

          <label for="isTopPlate">Es platillo top?</label>
          <select class="item" name="isTopPlate" id="isTopPlate">
            <option selected value="" Elige>Elige</option>
            <option value="1">Sí</option>
            <option value="0" selected>No</option>
          </select>
          <label for="image"> Imagen para el producto</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'image') { %>
            <p style="color: #DD0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            class="item"
            type="file"
            name="image"
            id="image"
            placeholder="Selecciona imagen del producto"
            required
          ></input>
          <button class="item submit" type="submit" value="Submit">Submit</button>
          <button class="item" type="reset" value="reset">
            Vaciar formulario
          </button>
        </form>
      </section>

      <section class="menu" id="menu">
        <h1 class="heading">Articulos Existentes</h1>

        <div class="box-container">
          <% for(let platillo of productos){ %>
          <div class="box">
            <img src="/img/products/<%= platillo.image %>" alt="" />
            <h3>Nombre: <%= platillo.item%></h3>
            <h4>Tipo: <%= platillo.type%></h4>
            <h4>Estilo de Platillo: <%= platillo.dish%></h4>
            <h4>Descuento: <%= platillo.discount%></h4>
            <h4>Compras: <%= platillo.boughts%></h4>
            <div class="price">
              Precio: $<%= platillo.price%> <% if(platillo.discount !='' ){ %>
              <span> <%= platillo.discount %> </span>
              <% }%>
            </div>
            <button
              class="btn"
              type="button"
              onClick="location.href='/producto/editarProducto/<%=platillo.id%>'"
            >
              Editar Producto
            </button>
            <form
              action="/producto/delete/<%=platillo.id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn">ELIMINAR</button>
            </form>
          </div>
          <% } %>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <!-- script zone-->
    <%- include('../partials/scripts') %>
    <!-- script zone-->
  </body>
</html>
