<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link href="../../css/styleEditar.css" rel="stylesheet" />
    <title>Productos en existencia</title>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main>
      <section class="agregar-inventario">
        <form
          action="/producto/editar"
          method="POST"
          class="contenedor-formulario"
          enctype="multipart/form-data"
        >
          <h2>Formulario para nuevos productos</h2>
          <label for="item">Nombre del producto</label>
          <input
            class="item"
            type="text"
            name="item"
            id="item"
            placeholder="nuevo producto"
            required
          />
          <label for="type">Tipo de pasta</label>
          <select class="item" name="type" id="type">
            <option selected value="" Elige>Elige</option>
            <option value="farfalle">Farfalle</option>
            <option value="fettuccine">Fettuccine</option>
            <option value="fusilli">Fusilli</option>
            <option value="rigatoni">Rigatoni</option>
            <option value="spaguetti">Spaguetti</option>
          </select>
          <label for="dish">Tipo de platillo</label>
          <select class="item" name="dish" id="dish">
            <option selected value="" Elige>Elige</option>
            <option value="alfredo">Alfredo</option>
            <option value="bolognesa">Bolognesa</option>
            <option value="allaNorma">Alla Norma</option>
            <option value="alPesto">Al Pesto</option>
            <option value="carbonara">Carbonara</option>
          </select>
          <label for="description">Descripcion del producto</label>
          <textarea
            class="item"
            name="description"
            id="description"
            rows="3"
            cols="50"
          >
Escribe la descripción aquí.
                            </textarea
          >
          <label for="image"> Imagen para el producto</label>
          <input
            class="item"
            type="file"
            name="image"
            id="image"
            placeholder="Selecciona imagen del producto"
            required
          />
          <label for="score">Score</label>
          <input
            class="item"
            type="text"
            name="score"
            id="score"
            placeholder="1-5"
          />
          <label for="discount">Descuento del producto</label>
          <input type="text" name="discout" placeholder="10" />
          <label for="boughts">Número comprado</label>
          <input type="text" name="boughts" id="boughts" placeholder="50" />
          <label for="price">Precio del producto</label>
          <input
            class="item"
            type="text"
            name="price"
            id="price"
            placeholder="$$$"
          />
          <input class="item" type="submit" value="Submit" />
          <button class="item" type="reset" value="reset">
            Vaciar formulario
          </button>
        </form>
      </section>

      <section class="menu" id="menu">
        <h1 class="heading">Articulos Existentes</h1>

        <div class="box-container">
          <% for(let platillo of productos){ %>
          <div class="box">
            <img src="/img/products/<%= platillo.image %>" alt="" />
            <h3>Nombre: <%= platillo.item%></h3>
            <h4>Tipo: <%= platillo.type%></h4>
            <h4>Estilo de Platillo: <%= platillo.dish%></h4>
            <h4>Descuento: <%= platillo.discount%></h4>
            <h4>Compras: <%= platillo.boughts%></h4>
            <div class="price">
              Precio: $<%= platillo.price%> <% if(platillo.discount !='' ){ %>
              <span> <%= platillo.discount %> </span>
              <% }%>
            </div>
            <button
              class="btn"
              type="button"
              onClick="location.href='/producto/editarProducto/<%=platillo.id%>'"
            >
              Editar Producto
            </button>
            <form
              action="/producto/delete/<%=platillo.id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn">ELIMINAR</button>
            </form>
          </div>
          <% } %>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <!-- script zone-->
    <%- include('../partials/scripts') %>
    <!-- script zone-->
  </body>
</html>
