<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/styleProductDetails.css" />
    <title>Producto <%= product.item %></title>

  </head>
  <body>
    <%- include('../partials/header') %> 
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "../img/<%= product.image%>" alt = "main-picture">
              <img src = "../img/<%= product.image%>" alt = "">
              <img src = "../img/<%= product.image%>" alt = "">
              <img src = "../img/<%= product.image%>" alt = "">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "../img/<%= product.image%>" alt = "main-picture">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "../img/<%= product.image%>" alt = "">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "../img/<%= product.image%>" alt = "">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "../img/<%= product.image%>" alt = "">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title"><%= product.item %></h2>
          <div class = "product-rating">
          <% for(let i= 0; i< product.score; i++){ %>
            <i class="fas fa-star"></i>             
          <% } %>
          <% if(product.score < 5){ %>
            <% for(let i = product.score; i < 5; i++ ){%>
                <i class="far fa-star"></i>
            <%}%>
          <% } %>        
          <span><%= product.score %> (<%= product.boughts%>)</span>
          </div>

          <div class = "product-price">
            <% if (product.discount != 0){ %>
              <p class = "last-price">Precio Original: <span><%= product.discount %></span></p>
            <% } %>
            <p class = "new-price">Precio Final: <span><%= product.price%></span></p>
          </div>

          <div class = "product-detail">
            <h2>Acerca del Platillo: </h2>
            <p><%= product.description %></p>
            
            <ul>
              <li><i class="fas fa-check-circle"></i> Tipo de Pasta: <span><%= product.type%></span></li>
              <li><i class="fas fa-check-circle"></i> Disponible: <span>in stock</span></li>
              <li><i class="fas fa-check-circle"></i> Envio: <span>Gratis</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <input type = "number" min = "0" value = "1">
            <button type = "button" class = "btn"><a href="/carrito">Agregar al Carrito <i class = "fas fa-shopping-cart"></i></a>
              
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
    <script src="../../js/product.js"></script>
    <script src="../../js/home.js"></script>
  </body>


</html>
