<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Login Form</title>
  </head>
  <body class="register">
    <%- include('../partials/header') %>

    <div class="main-container-registro">
      <form
        action="/createaccount"
        method="POST"
        class="contenedor-formulario"
        enctype="multipart/form-data"
      >
        <div class="container-registro">
          <h1>Crea tu nueva cuenta</h1>
          <p>Por favor llena estos datos para acceder</p>
          <p>Este registro no distingue entre mayusculas o minusculas</p>

          <label for="name">Nombre(s)</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'name') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Ingresa tu nombre"
            value="<%= locals.old && old.name ? old.name : '' %>"
            required
          />
          <label for="lastname">Apellidos</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'lastname') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="text"
            name="lastname"
            id="lastname"
            placeholder="Ingresa tus apellidos"
            value="<%= locals.old && old.lastname ? old.lastname : '' %>"
            required
          />
          <label for="username">Nombre de Usuario</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'username') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Ingresa Nombre de Usuario"
            value="<%= locals.old && old.username? old.username : '' %>"
            required
          />
          <label for="email">E-mail</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'email') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Ingresa tu email"
            value="<%= locals.old && old.email ? old.email : '' %> "
            required
          />

          <label for="password">Contraseña</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'password') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="password"
            placeholder="Ingresa la Contraseña"
            name="password"
            id="password"
            required
          />
          <label for="coPassword">Confirmación de Contraseña </label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'coPassword') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input
            type="password"
            placeholder="Confirma tu contraseña"
            name="coPassword"
            id="coPassword"
            required
          />
          <label for="img">Imagen de usuario</label>
          <% if (locals.errors) { %> <% errors.forEach( function (e) { %> <% if
          (e.param == 'img') { %>
          <p style="color: #dd0000"><%= e.msg %></p>
          <% } %> <% }) %> <% } %>
          <input type="file" name="img" id="img" required />

          <div class="container-buttons">
            <button type="submit" class="btn">Accede</button>
            <button onclick="openLoginForm()" class="btn-existingAccount">
              Aqui si ya tienes cuenta
            </button>
          </div>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %>

    <!-- script zone-->
    <%- include('../partials/scripts') %>
    <!-- script zone-->
  </body>
</html>
